<!DOCTYPE html>
<html lang="en">
<head>
	<title>STEM Smart Labs</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="images/icons/favicon.ico"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="fonts/themify/themify-icons.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="fonts/elegant-font/html-css/style.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/animate/animate.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/select2/select2.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/daterangepicker/daterangepicker.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/slick/slick.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/lightbox2/css/lightbox.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="css/util.css">
	<link rel="stylesheet" type="text/css" href="css/main.css">
<!--===============================================================================================-->
</head>
<body class="animsition">
	<section id="home"> </section>

	<!-- header fixed -->
	<div class="wrap_header fixed-header2 trans-0-4">
		<!-- Logo -->
		<a href="index.html" class="logo">
			<img src="images/icons/logo.png" alt="IMG-LOGO">
		</a>

		<!-- Menu -->
		<div class="wrap_menu">
			<nav class="menu">
				<ul class="main_menu">
					<li>
						<a href="index.html#home">Home</a>
					</li>

					<li class="sale-noti">
						<a href="index.html#challenge">Challenge</a>
					</li>

					<li>
						<a href="index.html#partnership">Partners</a>
					</li>

					<li>
						<a href="index.html#aboutcontact">About Us</a>
					</li>

					<li>
						<a href="index.html#aboutcontact">Contact Us</a>
					</li>
				</ul>				
			</nav>
		</div>
	</div>

	<!-- top noti -->
	<div class="flex-c-m size22 bg0 s-text21 pos-relative">
		Prepare the Students for the Global Goals Challenge!
		<button class="flex-c-m pos2 size23 colorwhite eff3 trans-0-4 btn-romove-top-noti">
			<i class="fa fa-remove fs-13" aria-hidden="true"></i>
		</button>
	</div>

	<!-- Header -->
	<header class="header2">
		<!-- Header desktop -->
		<div class="container-menu-header-v2 p-t-26">
			<div class="topbar2">
				<!--<div class="topbar-social">
					<a href="https://www.facebook.com/STEM-Smart-Labs-101268981420462" target="_blank" class="topbar-social-item fa fa-facebook"></a>
					<a href="#" class="topbar-social-item fa fa-instagram"></a>
					<a href="#" class="topbar-social-item fa fa-pinterest-p"></a>
					<a href="#" class="topbar-social-item fa fa-snapchat-ghost"></a>
					<a href="https://www.youtube.com/channel/UCdTxSDCb0iCJ4A-ffuinCSA" target="_blank" class="topbar-social-item fa fa-youtube-play"></a>
				</div>
				-->
				<!-- Logo2 -->
				<a href="index.html" class="logo1">
					<img src="images/icons/logo.png" alt="IMG-LOGO">
				</a>

				<div class="topbar-child2">
					<span class="topbar-email">
						hello@stemsmartlabs.com
					</span>

					<div class="topbar-language rs1-select2">
						<select class="selection-1" name="time">
							<option>USD</option>
						</select>
					</div>
				</div>
			</div>

			<div class="wrap_header">

				<!-- Menu -->
				<div class="wrap_menu">
					<nav class="menu">
						<ul class="main_menu">
							<li>
								<a href="index.html#home">Home</a>
							</li>
							<li class="sale-noti">
								<a href="index.html#challenge">Challenge</a>
							</li>

							<li>
								<a href="index.html#partnership">Partnership</a>
							</li>

							<li>
								<a href="index.html#aboutcontact">About Us</a>
							</li>

							<li>
								<a href="index.html#aboutcontact">Contact Us</a>
							</li>
						</ul>
					</nav>
				</div>

				<!-- Header Icon -->
				<div class="header-icons">

				</div>
			</div>
		</div>
		

		<!-- Header Mobile -->
		<div class="wrap_header_mobile">
			<!-- Logo moblie -->
			<a href="index.html" class="logo-mobile">
				<img src="images/icons/logo.png" alt="IMG-LOGO">
			</a>

			<!-- Button show menu -->
			<div class="btn-show-menu">
				<!-- Header Icon mobile -->
				<div class="btn-show-menu-mobile hamburger hamburger--squeeze">
					<span class="hamburger-box">
						<span class="hamburger-inner"></span>
					</span>
				</div>
			</div>
		</div>

		<!-- Menu Mobile -->
		<div class="wrap-side-menu" >
			<nav class="side-menu">
				<ul class="main-menu">

					<li class="item-topbar-mobile p-l-20 p-t-8 p-b-8">
						<div class="topbar-child2-mobile">
							<span class="topbar-email">
								hello@stemsmartlabs.com
							</span>

							<div class="topbar-language rs1-select2">
								<select class="selection-1" name="time">
									<option>USD</option>
								</select>
							</div>
						</div>
					</li>

					<li class="item-topbar-mobile p-l-10">
						<div class="topbar-social-mobile">
							<a href="https://www.facebook.com/STEM-Smart-Labs-101268981420462" target="_blank" class="topbar-social-item fa fa-facebook"></a>
							<a href="#" class="topbar-social-item fa fa-instagram"></a>
							<a href="#" class="topbar-social-item fa fa-pinterest-p"></a>
							<a href="#" class="topbar-social-item fa fa-snapchat-ghost"></a>
							<a href="https://www.youtube.com/channel/UCdTxSDCb0iCJ4A-ffuinCSA" class="topbar-social-item fa fa-youtube-play"></a>
						</div>
					</li>

					<li class="item-menu-mobile">
						<a href="#home">Home</a>
					</li>
					
					<li class="item-menu-mobile">
						<a href="#challenge">Challenge</a>
					</li>

					<li class="item-menu-mobile">
						<a href="#partnership">Partnership</a>
					</li>

					<li class="item-menu-mobile">
						<a href="#aboutcontact">About Us</a>
					</li>

					<li class="item-menu-mobile">
						<a href="#aboutcontact">Contact Us</a>
					</li>
				</ul>
			</nav>
		</div>
	</header>

	<!-- Slide1 -->
	<section class="slide1">
		<div class="wrap-slick1">
			<div class="slick1">
				<div class="item-slick1 item2-slick1" style="background-image: url(images/master-slide-02.jpg);">
					<div class="wrap-content-slide1 sizefull flex-col-c-m p-l-15 p-r-15 p-t-150 p-b-170">
						<h2 class="caption1-slide1 xl-text2 t-center  p-b-6 animated  m-b-22" data-appear="rollIn">
							Global Goals Challenge
						</h2>

						<!-- <span class="caption2-slide1 m-text1 t-center animated visible-false m-b-33" data-appear="lightSpeedIn"> -->
							<!-- Code | Play | Learn -->
						<!-- </span> -->
					</div>
				</div>
			</div>
		</div>
	</section>

	<!-- Blog -->
	<section class="blog bgwhite p-t-94 p-b-65"  id="challenge">
		<div class="container">
			<div class="banner bgwhite p-t-40 p-b-40">
				<div class="container">
					<div class="row">
						<div class="col-sm-10 col-md-8 col-lg-4 m-l-r-auto">
							<!-- block1 -->
						</div>
						
						<div class="col-sm-10 col-md-8 col-lg-4 m-l-r-auto">
							<a href="index.html#challenge" class="flex-c-m size2 bo-rad-23 s-text2 bgdeepskyblue hov1 trans-0-4">
								Transaction canceled, Please try again!
							</a>	
						</div>

						<div class="col-sm-10 col-md-8 col-lg-4 m-l-r-auto">
							<!-- block1 -->
						</div>
					</div>
				</div>
			</div>
			
			<div class="m-text11 t-center">
				"A journey of a thousand miles begins with a single step"
			</div>				
	
		</div>
	</section>

	<!-- Footer -->
	<section id="aboutcontact">
	<footer class="bg6 p-t-45 p-b-43 p-l-45 p-r-45">	
		<div class="flex-w p-b-90">
			<div class="w-size6 p-t-30 p-l-15 p-r-15 respon3">
				<h4 class="s-text12 p-b-30">
					About Us
				</h4>

				<div>
					<p class="s-text7 w-size27">
						We are a next-generation education company who would like to reform the way kids learn and make them future ready. We are a passionate team of people who would like to be a stepping stone in your kid's journey who could be a Scientist or an Engineer or a Maker in this world. We would like to spark the curiosity in your kid and make them look at STEM (Science, Technology, Engineering, and Math) with interest. Our system encourages logical thinking, problem-solving and collaborative teamwork with loads of fun.
					</p>
					<div class="t-center s-text8 p-t-20">
						Copyright © 2020 All rights reserved. | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
					</div>					
				</div>
				
				
			</div>

			<div class="w-size7 p-t-30 p-l-15 p-r-15 respon4">
				<h4 class="s-text12 p-b-30">
					Links
				</h4>

				<ul>
					<!--<li class="p-b-9">
						<a href="https://stemsmartlabs.com/virtualclasses/" target="_blank" class="s-text7">
							Virtual Classes
						</a>
					</li>

					<li class="p-b-9">
						<a href="https://inventorspace.stemsmartlabs.com/" target="_blank" class="s-text7">
							Inventor Space
						</a>
					</li>-->

					<li class="p-b-9">
						<a href="https://stemsmartlabs.com/" target="_blank" class="s-text7">
							STEM Smart Labs
						</a>
					</li>
				</ul>
	
				
			</div>

			<div class="w-size7 p-t-30 p-l-15 p-r-15 respon4">
				<h4 class="s-text12 p-b-30">
					Contact Us 
				</h4>

				<ul>
					<li class="p-b-9 s-text7">
							STEM Smart Labs
					</li>
					
					<li class="p-b-9 s-text7">
							hello@stemsmartlabs.com
					</li>
				</ul>
			</div>
	
			<div  class="w-size7 p-t-30 p-l-15 p-r-15 respon4">
				<h4 class="s-text12 p-b-30">
					Terms and Conditions 
				</h4>
				<ul>
					<li class="p-b-9 s-text7">
						Subscriptions can be cancelled anytime, We have no questions asked refund policy. There are zero cancellation charges. Deduction will be made only for the classes attended and any Microbit kit if provided. 
					</li>
				</ul>			
			</div>			
			
	</footer>
	</section>


	<!-- Back to top -->
	<div class="btn-back-to-top bg0-hov" id="myBtn">
		<span class="symbol-btn-back-to-top">
			<i class="fa fa-angle-double-up" aria-hidden="true"></i>
		</span>
	</div>

	<!-- Container Selection1 -->
	<div id="dropDownSelect1"></div>

	<!-- Modal Video 01-->
	<div class="modal fade" id="modal-video-01" tabindex="-1" role="dialog" aria-hidden="true">

		<div class="modal-dialog" role="document" data-dismiss="modal">
			<div class="close-mo-video-01 trans-0-4" data-dismiss="modal" aria-label="Close">&times;</div>

			<div class="wrap-video-mo-01">
				<div class="w-full wrap-pic-w op-0-0"><img src="images/icons/video-16-9.jpg" alt="IMG"></div>
				<div class="video-mo-01">
					<iframe src="https://www.youtube.com/embed/RpqVmvMCmp0?rel=0&amp;showinfo=0;" allowfullscreen></iframe>
				</div>
			</div>
		</div>
	</div>
	
	
<!--===============================================================================================-->
	<script type="text/javascript" src="vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script type="text/javascript" src="vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
	<script type="text/javascript" src="vendor/bootstrap/js/popper.js"></script>
	<script type="text/javascript" src="vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script type="text/javascript" src="vendor/select2/select2.min.js"></script>
	<script type="text/javascript">
		$(".selection-1").select2({
			minimumResultsForSearch: 20,
			dropdownParent: $('#dropDownSelect1')
		});
	</script>
<!--===============================================================================================-->
	<script type="text/javascript" src="vendor/slick/slick.min.js"></script>
	<script type="text/javascript" src="js/slick-custom.js"></script>
<!--===============================================================================================-->
	<script type="text/javascript" src="vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
	<script type="text/javascript" src="vendor/lightbox2/js/lightbox.min.js"></script>
<!--===============================================================================================-->
	<script type="text/javascript" src="vendor/sweetalert/sweetalert.min.js"></script>
	<script type="text/javascript">
		/*$('.block2-btn-addcart').each(function(){
			var nameProduct = $(this).parent().parent().parent().find('.block2-name').html();
			$(this).on('click', function(){
				swal(nameProduct, "is added to cart !", "success");
			});
		});

		$('.block2-btn-addwishlist').each(function(){
			var nameProduct = $(this).parent().parent().parent().find('.block2-name').html();
			$(this).on('click', function(){
				swal(nameProduct, "is added to wishlist !", "success");
			});
		});*/
	</script>

<!--===============================================================================================-->
	<script type="text/javascript" src="vendor/parallax100/parallax100.js"></script>
	<script type="text/javascript">
        $('.parallax100').parallax100();
	</script>
<!--===============================================================================================-->
	<script src="js/main.js"></script>

	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-118761839-9"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'UA-118761839-9');
	</script>
	
<!-- Load Stripe.js on your website. -->
<script src="https://js.stripe.com/v3"></script>

<!-- Create a button that your customers click to complete their purchase. Customize the styling to suit your branding. -->


<div id="error-message"></div>

<script>
(function() {
  var stripe = Stripe('pk_live_51HPViNA9JLcSHwWg9AMsdb3WUoWQGDIi9xidN8PyTm6MXdL3gV6DVJSTdJ4z8IlJkE2sD2hK5wkeecnCFOgSBaap00BjlZUECJ');

  var checkoutButton = document.getElementById('checkout-button-price_1Hcu4lA9JLcSHwWgfKxaT97b');
  checkoutButton.addEventListener('click', function () {
    // When the customer clicks on the button, redirect
    // them to Checkout.
    stripe.redirectToCheckout({
      lineItems: [{price: 'price_1Hcu4lA9JLcSHwWgfKxaT97b', quantity: 1}],
      mode: 'payment',
      // Do not rely on the redirect to the successUrl for fulfilling
      // purchases, customers may not always reach the success_url after
      // a successful payment.
      // Instead use one of the strategies described in
      // https://stripe.com/docs/payments/checkout/fulfill-orders
      successUrl: 'https://stemsmartlabs.com/challenge/success.html',
      cancelUrl: 'https://stemsmartlabs.com/challenge/canceled.html',
	  billingAddressCollection: 'required',	  
    })
    .then(function (result) {
      if (result.error) {
        // If `redirectToCheckout` fails due to a browser or network
        // error, display the localized error message to your customer.
        var displayError = document.getElementById('error-message');
        displayError.textContent = result.error.message;
      }
    });
  });
})();
</script>
	
<!-- Load Stripe.js on your website. -->
<script src="https://js.stripe.com/v3"></script>

<div id="error-message"></div>

<script>
(function() {
  var stripe = Stripe('pk_live_51HPViNA9JLcSHwWg9AMsdb3WUoWQGDIi9xidN8PyTm6MXdL3gV6DVJSTdJ4z8IlJkE2sD2hK5wkeecnCFOgSBaap00BjlZUECJ');

  var checkoutButton = document.getElementById('checkout-button-price_1HhHYpA9JLcSHwWg9NZT4vrQ');
  checkoutButton.addEventListener('click', function () {
    // When the customer clicks on the button, redirect
    // them to Checkout.
    stripe.redirectToCheckout({
      lineItems: [{price: 'price_1HhHYpA9JLcSHwWg9NZT4vrQ', quantity: 1}],
      mode: 'payment',
      // Do not rely on the redirect to the successUrl for fulfilling
      // purchases, customers may not always reach the success_url after
      // a successful payment.
      // Instead use one of the strategies described in
      // https://stripe.com/docs/payments/checkout/fulfill-orders
      successUrl: 'https://stemsmartlabs.com/challenge/success.html',
      cancelUrl: 'https://stemsmartlabs.com/challenge/canceled.html',
	  billingAddressCollection: 'required',	
	  shippingAddressCollection: {
		allowedCountries: ['US'],
	  },	  
    })
    .then(function (result) {
      if (result.error) {
        // If `redirectToCheckout` fails due to a browser or network
        // error, display the localized error message to your customer.
        var displayError = document.getElementById('error-message');
        displayError.textContent = result.error.message;
      }
    });
  });
})();
</script>	


<!-- Load Stripe.js on your website. -->
<script src="https://js.stripe.com/v3"></script>

<!-- Create a button that your customers click to complete their purchase. Customize the styling to suit your branding. -->
<div id="error-message"></div>

<script>
(function() {
  var stripe = Stripe('pk_live_51HPViNA9JLcSHwWg9AMsdb3WUoWQGDIi9xidN8PyTm6MXdL3gV6DVJSTdJ4z8IlJkE2sD2hK5wkeecnCFOgSBaap00BjlZUECJ');

  var checkoutButton = document.getElementById('checkout-button-price_1HgTjiA9JLcSHwWgyD1Z6on7');
  checkoutButton.addEventListener('click', function () {
    // When the customer clicks on the button, redirect
    // them to Checkout.
    stripe.redirectToCheckout({
      lineItems: [{price: 'price_1HgTjiA9JLcSHwWgyD1Z6on7', quantity: 1}],
      mode: 'payment',
      // Do not rely on the redirect to the successUrl for fulfilling
      // purchases, customers may not always reach the success_url after
      // a successful payment.
      // Instead use one of the strategies described in
      // https://stripe.com/docs/payments/checkout/fulfill-orders
      successUrl: 'https://stemsmartlabs.com/challenge/success.html',
      cancelUrl: 'https://stemsmartlabs.com/challenge/canceled.html',
	  billingAddressCollection: 'required',	
	  shippingAddressCollection: {
		allowedCountries: ['US'],
	  },	  
    })
    .then(function (result) {
      if (result.error) {
        // If `redirectToCheckout` fails due to a browser or network
        // error, display the localized error message to your customer.
        var displayError = document.getElementById('error-message');
        displayError.textContent = result.error.message;
      }
    });
  });
})();
</script>

</body>
</html>
