<!doctype html>
<html class="no-js" lang="en">
    <head>
		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-118761839-8"></script>
		<script>
		  window.dataLayer = window.dataLayer || [];
		  function gtag(){dataLayer.push(arguments);}
		  gtag('js', new Date());

		  gtag('config', 'UA-118761839-8');
		</script>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>STEM Smart Labs Virtual Classes</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
        
		<!-- favicon
		============================================ -->		
        <link rel="shortcut icon" type="image/x-icon" href="img/favicon.ico">
		
		<!-- Google Fonts
		============================================ -->		
        <link href='https://fonts.googleapis.com/css?family=Raleway:400,300,500,600,700,800' rel='stylesheet' type='text/css'>
	   
		<!-- Bootstrap CSS
		============================================ -->		
        <link rel="stylesheet" href="css/bootstrap.min.css">
        
		<!-- Fontawsome CSS
		============================================ -->
        <link rel="stylesheet" href="css/font-awesome.min.css">
        
		<!-- Owl Carousel CSS
		============================================ -->
        <link rel="stylesheet" href="css/owl.carousel.css">
        
		<!-- jquery-ui CSS
		============================================ -->
        <link rel="stylesheet" href="css/jquery-ui.css">
        
		<!-- Meanmenu CSS
		============================================ -->
        <link rel="stylesheet" href="css/meanmenu.min.css">
        
		<!-- Animate CSS
		============================================ -->
        <link rel="stylesheet" href="css/animate.css">
        
		<!-- Animated Headlines CSS
		============================================ -->
        <link rel="stylesheet" href="css/animated-headlines.css">
        
        <!-- Nivo slider CSS
		============================================ -->
		<link rel="stylesheet" href="lib/nivo-slider/css/nivo-slider.css" type="text/css" />
		<link rel="stylesheet" href="lib/nivo-slider/css/preview.css" type="text/css" media="screen" />
        
		<!-- Metarial Iconic Font CSS
		============================================ -->
        <link rel="stylesheet" href="css/material-design-iconic-font.css">
        <link rel="stylesheet" href="css/material-design-iconic-font.min.css">
        
		<!-- Slick CSS
		============================================ -->
        <link rel="stylesheet" href="css/slick.css">
        
		<!-- Video CSS
		============================================ -->
        <link rel="stylesheet" href="css/jquery.mb.YTPlayer.css">
        
		<!-- Style CSS
		============================================ -->
        <link rel="stylesheet" href="style.css">
        
		<!-- Color CSS
		============================================ -->
        <link rel="stylesheet" href="css/color.css">
        
		<!-- Responsive CSS
		============================================ -->
        <link rel="stylesheet" href="css/responsive.css">
        
		<!-- Modernizr JS
		============================================ -->		
        <script src="js/vendor/modernizr-2.8.3.min.js"></script>
	    
    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        
        <!--Main Wrapper Start-->
        <div class="as-mainwrapper">
            <!--Bg White Start-->
            <div class="bg-white">
                <!--Header Area Start-->
                <header>
                    <div class="header-top">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-7 col-md-6 col-sm-5 hidden-xs">
                                    <span>Enable online education at your school contact us at <b>hello@stemsmartlabs.com</b></span>
                                </div>
                                <div class="col-lg-5 col-md-6 col-sm-7 col-xs-12">
                                    <div class="header-top-right">
                                        <!--<div class="content"><a href="#"><i class="zmdi zmdi-account"></i> My Account</a>
                                            <ul class="account-dropdown">
                                                <li><a href="#">My Account</a></li>
                                                <li><a href="#">Log In</a></li>
                                                <li><a href="#">Register</a></li>
                                                <li><a href="#">Blog</a></li>
                                            </ul>
                                        </div>
                                        <div class="content"><a href="#"><i class="zmdi zmdi-favorite"></i> Wishlist</a></div>
                                        <div class="content"><a href="#"><i class="zmdi zmdi-shopping-basket"></i> Chechout</a></div>-->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="header-logo-menu sticker">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-3 col-sm-12">
                                    <div class="logo">
                                        <a href="index.html"><img src="img/logo/logo.png" alt="EDUCAT"></a>
                                    </div>
                                </div>
                                <div class="col-md-9">
                                    <div class="mainmenu-area pull-right">
                                        <div class="mainmenu hidden-sm hidden-xs">
                                            <nav>
                                                <ul id="nav">
                                                    <li class="current"><a href="index.html">Home</a></li>
                                                    <li><a href="#features">Features</a>
                                                       <!-- <ul class="sub-menu">
                                                            <li><a href="courses-details.html">Solutions</a></li>
                                                        </ul>-->
                                                    </li>
                                                    <!--<li><a href="index.html">Pages</a>
                                                        <ul class="sub-menu">
                                                            <li><a href="about.html">About Us</a></li>
                                                            <li><a href="courses.html">Courses Page</a></li>
                                                            <li><a href="courses-details.html">Course Details Page</a></li>
                                                            <li><a href="event.html">Event Page</a></li>
                                                            <li><a href="event-details.html">Event Details Page</a></li>
                                                            <li><a href="latest-news.html">Latest News Page</a></li>
                                                            <li><a href="news-details.html">News Details Page</a></li>
                                                            <li><a href="shop-grid.html">Shop Page</a></li>
                                                            <li><a href="product-details.html">Product Details Page</a></li>
                                                            <li><a href="contact.html">Contact</a></li>
                                                        </ul>
                                                    </li>
													<li><a href="event.html">Event</a>
                                                        <ul class="sub-menu">
                                                            <li><a href="event-details.html">Event Details Page</a></li>
                                                        </ul>
                                                    </li>
                                                    <li><a href="shop-grid.html">Shop</a>
                                                        <ul class="sub-menu">
                                                            <li><a href="product-details.html">Product Details</a></li>
                                                        </ul>
                                                    </li>-->
                                                    <li><a href="#platform">Platforms</a></li>
                                                    <li><a href="#pricing">Pricing</a></li>
                                                    <li><a href="#contact">Contact</a></li>
                                                </ul>
                                            </nav>
                                        </div>
                                        <ul class="header-search">
                                            <li class="search-menu">
                                                <i id="toggle-search" class="zmdi zmdi-search-for"></i>
                                            </li>
                                        </ul>
                                        <!--Search Form-->
                                        <div class="search">
                                            <div class="search-form">
                                                <form id="search-form" action="#">
                                                    <input type="search" placeholder="Search here..." name="search" />
                                                    <button type="submit">
                                                        <span><i class="fa fa-search"></i></span>
                                                    </button>
                                                </form>                                
                                            </div>
                                        </div>
                                        <!--End of Search Form-->
                                    </div> 
                                </div>
                            </div>
                        </div>
                    </div>  
                    <!-- Mobile Menu Area start -->
                    <div class="mobile-menu-area">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <div class="mobile-menu">
                                        <nav id="dropdown">
                                                <ul id="nav">
                                                    <li class="current"><a href="index.html">Home</a></li>
                                                    <li><a href="#features">Features</a>
                                                       <!-- <ul class="sub-menu">
                                                            <li><a href="courses-details.html">Solutions</a></li>
                                                        </ul>-->
                                                    </li>
                                                    <!--<li><a href="index.html">Pages</a>
                                                        <ul class="sub-menu">
                                                            <li><a href="about.html">About Us</a></li>
                                                            <li><a href="courses.html">Courses Page</a></li>
                                                            <li><a href="courses-details.html">Course Details Page</a></li>
                                                            <li><a href="event.html">Event Page</a></li>
                                                            <li><a href="event-details.html">Event Details Page</a></li>
                                                            <li><a href="latest-news.html">Latest News Page</a></li>
                                                            <li><a href="news-details.html">News Details Page</a></li>
                                                            <li><a href="shop-grid.html">Shop Page</a></li>
                                                            <li><a href="product-details.html">Product Details Page</a></li>
                                                            <li><a href="contact.html">Contact</a></li>
                                                        </ul>
                                                    </li>
													<li><a href="event.html">Event</a>
                                                        <ul class="sub-menu">
                                                            <li><a href="event-details.html">Event Details Page</a></li>
                                                        </ul>
                                                    </li>
                                                    <li><a href="shop-grid.html">Shop</a>
                                                        <ul class="sub-menu">
                                                            <li><a href="product-details.html">Product Details</a></li>
                                                        </ul>
                                                    </li>-->
                                                    <li><a href="#platform">Platforms</a></li>
                                                    <li><a href="#pricing">Pricing</a></li>
                                                    <li><a href="#contact">Contact</a></li>
                                                </ul>
                                            </nav>
                                    </div>					
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Mobile Menu Area end -->    
                </header>
                <!--End of Header Area-->
                <!--Slider Area Start-->
                <div class="slider-area">
                    <div class="preview-2">
                        <div id="nivoslider" class="slides">	
                            <img src="img/slider/2.jpg" alt="" title="#slider-1-caption2"/>
                        </div> 
                        <div id="slider-1-caption2" class="nivo-html-caption nivo-caption">
                            <div class="banner-content slider-2">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="text-content-wrapper">
                                                <div class="text-content slide-2">
                                                    <h1 class="title1 wow rotateInDownLeft" data-wow-duration="1000ms" data-wow-delay="0s">Virtual Classroom<br>
                                                    Complete Solution</h1>
                                                    <p class="sub-title wow rotateInDownLeft hidden-sm hidden-xs" data-wow-duration="1800ms" data-wow-delay="0s"> The biggest change that the education system globally has seen <br>
													this year is the massive shift to e-learning or digital classrooms.</p>
                                                    <!--<div class="banner-readmore wow rotateInDownLeft" data-wow-duration="1800ms" data-wow-delay="0s">
                                                        <a class="button-default" href="#">View Courses</a>	                
                                                    </div>-->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>	 
                    </div>
                </div>
                <!--End of Slider Area-->
                <!--About Area Start--> 
                <div class="about-area">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-8">
                                <div class="about-container">
                                    <h3>Online learning</h3>
                                    <p>Educational institutions in most countries are now closed to contain the spread of coronavirus, resulting in the remote schooling of millions of students globally. Schools in India have been working hard in creating a comprehensive online infrastructure for the effective remote learning of their students.</p>
                                    <!--<a class="button-default" href="https://allevents.in/org/stem-smart-labs/16879111" target="_blank">Learn Now</a>-->	      
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--End of About Area-->
                <!--Course Area Start-->
			<section id="features">
                <div class="course-area section-padding bg-white">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="section-title-wrapper">
                                    <div class="section-title">
                                        <h3>Benefits of E-learning</h3>
                                        <p>The digital learning platforms enables the students with full access to the study material as well as allow them to engage in online classes and interact with the teachers like the physical classroom setting. The feedback is encouraging from both teachers and students. Adaptive learning is one of the techniques for providing personalized learning experiences, to enable effective and tailored learning paths to engage students and address their individual needs.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4 col-sm-6">
                                <div class="single-item">
                                    <div class="single-item-image overlay-effect">
                                        <a href="#"><img src="img/course/1.jpg" alt=""></a>
                                    </div>
                                    <div class="single-item-text">
                                        <h4>Sharing and managing resources</h4>
                                        <div class="single-item-text-info">
                                            <!--<span>By: <span>M S Nawaz</span></span>
                                            <span>Date: <span>20.5.15</span></span>-->
                                        </div>
                                        <p>The platform allows the teacher to share resources in a variety of file formats with learners. A most useful feature is perhaps the ability to schedule the release of materials and assessment at specific times in the future.</p>
                                    </div>
                                    <!--<div class="button-bottom">
                                        <a href="#" class="button-default">Learn Now</a>
                                    </div>-->
                                </div>
                            </div>
							
                            <div class="col-md-4 col-sm-6">
                                <div class="single-item">
                                    <div class="single-item-image overlay-effect">
                                        <a href="#"><img src="img/course/2.jpg" alt=""></a>
                                    </div>
                                    <div class="single-item-text">
                                        <h4>Collaborative Learning</h4>
                                        <div class="single-item-text-info">
                                            <!--span>By: <span>Subas Das</span></span>
                                            <span>Date: <span>20.5.15</span></span>-->
                                        </div>
                                        <p>Virtual class room enables teachers to streamline classroom activities and implement a variety of teaching strategies consistent with modern pedagogic methods. Snapshots of exemplar worksheets and quiz are attached with the document</p>
                                    </div>
                                    <!--<div class="button-bottom">
                                        <a href="#" class="button-default">Learn Now</a>
                                    </div>-->
                                </div>
                            </div>
							
                            <div class="col-md-4 hidden-sm">
                                <div class="single-item">
                                    <div class="single-item-image overlay-effect">
                                        <a href="#"><img src="img/course/3.jpg" alt=""></a>
                                    </div>
                                    <div class="single-item-text">
                                        <h4>Assignment and Assessment</h4>
                                        <div class="single-item-text-info">
                                            <!--<span>By: <span>Momin Boss</span></span>
                                            <span>Date: <span>20.5.15</span></span>-->
                                        </div>
                                        <p>The only way to measure the effectiveness of a lesson is to measure students' learning outcome at the end of the class. Provision for online assignment and assessment in Classroom is perhaps the most useful feature as it allows the teacher to measure and track learners' progress and modify their teaching strategy as need be.</p>
                                    </div>
                                    <!--<div class="button-bottom">
                                        <a href="#" class="button-default">Learn Now</a>
                                    </div>-->
                                </div>
                            </div>
                        </div>
						<br><br><br>
                        <div class="row">

                            <div class="col-md-4 hidden-sm">
                                <div class="single-item">
                                    <div class="single-item-image overlay-effect">
                                        <a href="#"><img src="img/course/4.jpg" alt=""></a>
                                    </div>
                                    <div class="single-item-text">
                                        <h4>Managing grades</h4>
                                        <div class="single-item-text-info">
                                            <!--<span>By: <span>Momin Boss</span></span>
                                            <span>Date: <span>20.5.15</span></span>-->
                                        </div>
                                        <p>Much of the grade management is automatic but the teacher has full control over changing grades as need be.
										Classroom gives  the ability to export grades from assignments to Sheets. </p>
                                    </div>
                                    <!--<div class="button-bottom">
                                        <a href="#" class="button-default">Learn Now</a>
                                    </div>-->
                                </div>
                            </div>

                            <div class="col-md-4 hidden-sm">
                                <div class="single-item">
                                    <div class="single-item-image overlay-effect">
                                        <a href="#"><img src="img/course/55.jpg" alt=""></a>
                                    </div>
                                    <div class="single-item-text">
                                        <h4>Live Recording</h4>
                                        <div class="single-item-text-info">
                                            <!--<span>By: <span>Momin Boss</span></span>
                                            <span>Date: <span>20.5.15</span></span>-->
                                        </div>
                                        <p>Live Classes can be recorded and stored in the cloud server, this can be playback later by students anytime. The classroom allows the teacher to incorporate video into assignment and quiz and design questions around it. The video can be played as the learner is working on the assignment or the quiz.</p>
                                    </div>
                                    <!--<div class="button-bottom">
                                        <a href="#" class="button-default">Learn Now</a>
                                    </div>-->
                                </div>
                            </div>



                            <div class="col-md-4 hidden-sm">
                                <div class="single-item">
                                    <div class="single-item-image overlay-effect">
                                        <a href="#"><img src="img/course/66.jpg" alt=""></a>
                                    </div>
                                    <div class="single-item-text">
                                        <h4>Managing people in class</h4>
                                        <div class="single-item-text-info">
                                            <!--<span>By: <span>Momin Boss</span></span>
                                            <span>Date: <span>20.5.15</span></span>-->
                                        </div>
                                        <p>The app gives the teacher complete authority to remove anyone from the class. This is an important provision as it allows the teacher to remove suspicious accounts that may compromise the online safety and privacy of learners.</p>
                                    </div>
                                    <!--<div class="button-bottom">
                                        <a href="#" class="button-default">Learn Now</a>
                                    </div>-->
                                </div>
                            </div>

							
                            <!--<div class="col-md-12 col-sm-12 text-center">
                                <a href="#" class="button-default button-large">Browse All Courses <i class="zmdi zmdi-chevron-right"></i></a>
                            </div>-->
                        </div>
                    </div>
                </div>
            </section>    
				<!--End of Course Area-->
                <!--Fun Factor Area Start-->
                <div class="fun-factor-area">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="section-title-wrapper white">
                                    <div class="section-title">
                                        <h3>IMPORTANT FACTS</h3>
                                        <p>Online Education in India by 2021</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3 col-sm-3">
                                <div class="single-fun-factor">
                                    <h4>K-12 Education </h4>
                                    <h2><span class="counter">60</span>%</h2>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-3">
                                <div class="single-fun-factor">
                                    <h4>Test Preparation</h4>
                                    <h2><span class="counter">64</span>%</h2>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-3">
                                <div class="single-fun-factor">
                                    <h4>Reskilling</h4>
                                    <h2><span class="counter">38</span>%</h2>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-3">
                                <div class="single-fun-factor">
                                    <h4>Higher Education</h4>
                                    <h2><span class="counter">41</span>%</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--End of Fun Factor Area-->   
				<br><br><br>
                <!--Online Product Area Start-->
			<section id="platform">
                <div class="product-area section-bottom-padding bg-white">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="section-title-wrapper">
                                    <div class="section-title">
                                        <h3>Platforms</h3>
                                        <p>Our Team has the experties to provide complete solution for your school needs</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3 col-sm-4">
                                <!--<div class="single-product-item">
                                    <div class="single-product-image">
                                        <img src="img/product/3.jpg" alt="">
                                    </div>
                                </div>-->
                            </div>
                            <div class="col-md-3 col-sm-4">
                                <div class="single-product-item">
                                    <div class="single-product-image">
                                        <img src="img/product/1.jpg" alt="">
                                    </div>
                                </div>
                            </div>
							
                            <div class="col-md-3 col-sm-4">
                                <div class="single-product-item">
                                    <div class="single-product-image">
                                        <img src="img/product/2.jpg" alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-4">
                                <!--<div class="single-product-item">
                                    <div class="single-product-image">
                                        <img src="img/product/3.jpg" alt="">
                                    </div>
                                </div>-->
                            </div>
                        </div>
                    </div>
                </div>
            </section>
				<!--End of Online Product Area-->
	            <!--Event Area Start-->
			<section id="pricing">
                <div class="event-area section-padding bg-white">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="section-title-wrapper">
                                    <div class="section-title">
                                        <h3>Pricing</h3>
                                        <p>Price is what you pay. Value is what you get -Warren Buffett</p>-->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4 col-sm-6">
                                <div class="single-event-item">
                                    <div class="single-event-image">
                                        <a href="#">
                                            <img src="img/event/3.jpg" alt="">
                                            <span><span>14</span>Days</span>
                                        </a>
                                    </div>
                                    <div class="single-event-text">
                                        <h3>Trial Package</h3>
                                        <h4>Free (with 5 licenses)</h4>
										<br>
                                       <p>Setting up Google Class for you school<br>
									      Training Teachers on the platform<br>
										  Google Class licenses : <br>
												* 1 Domain Admin <br>
												* 1 Classroom Admin <br>
												* 3 Faculty licenses <br>										  
										  </p>
                                        <div class="single-item-comment-view">
                                           <span><i class="zmdi zmdi-time"></i>price exclusive of tax</span>
                                       </div>
                                    </div>
                                </div>
                            </div>						
                            <div class="col-md-4 col-sm-6">
                                <div class="single-event-item">
                                    <div class="single-event-image">
                                        <a href="#">
                                            <img src="img/event/1.jpg" alt="">
                                            <span><span>3</span>Months</span>
                                        </a>
                                    </div>
                                    <div class="single-event-text">
                                        <h3>Quarterly Package</h3>
                                        <h4>₹14500/- (with 10 licenses)</h4>
										<br>
                                       <p>Setting up Google Class for you school<br>
									      Training Teachers on the platform<br>
										  Google Class licenses : <br>
												* 1 Domain Admin <br>
												* 1 Classroom Admin <br>
												* 8 Faculty licenses <br>										  
										  (additional licenses will be charged extra)<br>
									   </p>
                                        <div class="single-item-comment-view">
                                           <span><i class="zmdi zmdi-time"></i>price exclusive of tax</span>
                                       </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6">
                                <div class="single-event-item">
                                    <div class="single-event-image">
                                        <a href="#">
                                            <img src="img/event/2.jpg" alt="">
                                            <span><span>6</span>Months</span>
                                        </a>
                                    </div>
                                    <div class="single-event-text">
                                        <h3>Half Yearly Package</h3>
                                        <h4>₹24500/- (with 10 licenses)</h4>
										<br>
                                       <p>Setting up Google Class for you school<br>
									      Training Teachers on the platform<br>
										  Google Class licenses : <br>
												* 1 Domain Admin <br>
												* 1 Classroom Admin <br>
												* 8 Faculty licenses <br>										  
										  (additional licenses will be charged extra)<br>
									   </p>
                                        <div class="single-item-comment-view">
                                           <span><i class="zmdi zmdi-time"></i>price exclusive of tax</span>
                                       </div>
                                    </div>
                                </div>
                            </div>
						</div>
                    </div>
                </div>
			</section>
                <!--End of Event Area-->
				
				
                <!--Testimonial Area Start-->
                <div class="testimonial-area">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12 col-lg-offset-0 col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1">
                                <div class="row">
                                    <div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2">
                                        <div class="testimonial-image-slider text-center">
                                            <div class="sin-testiImage">
                                                <img src="img/testimonial/1.jpg" alt="testimonial 1" />
                                            </div>
                                            <div class="sin-testiImage">
                                                <img src="img/testimonial/2.jpg" alt="testimonial 2" />
                                            </div>
                                            <div class="sin-testiImage">
                                                <img src="img/testimonial/3.jpg" alt="testimonial 3" />
                                            </div>
                                            <div class="sin-testiImage">
                                                <img src="img/testimonial/1.jpg" alt="testimonial 1" />
                                            </div>
                                            <div class="sin-testiImage">
                                                <img src="img/testimonial/2.jpg" alt="testimonial 2" />
                                            </div>
                                            <div class="sin-testiImage">
                                                <img src="img/testimonial/3.jpg" alt="testimonial 3" />
                                            </div>										
                                        </div>
                                    </div>
                                </div> 
                                <div class="testimonial-text-slider text-center">
                                    <div class="sin-testiText">
                                        <h2>Mr. P.V. ANTONY</h2>
                                        <p>It's a great platform for learning. Students have been enormously benefited from this app.  It  is easily accessible and user friendly . Teachers have found it as  a great boon. Thanks a lot for your valuable contribution in imparting education in an effective way. <br>
										Principal, Sri Vivekanandha Matric. Hr.School, Coimbatore.
										</p>
                                    </div>
                                    <div class="sin-testiText">
                                        <h2>John Dewey</h2>
                                        <p>If we teach today as we taught yesterday, we rob our children of tomorrow.</p>
                                    </div>
                                    <div class="sin-testiText">
                                        <h2>George Couros</h2>
                                        <p>Technology will not replace great teachers. But technology in the hands of great teachers can be transformational.</p>
                                    </div>
                                    <div class="sin-testiText">
                                        <h2>Mr. P.V. ANTONY</h2>
                                        <p>It's a great platform for learning. Students have been enormously benefited from this app.  It  is easily accessible and user friendly . Teachers have found it as  a great boon. Thanks a lot for your valuable contribution in imparting education in an effective way. <br>
										Principal, Sri Vivekanandha Matric. Hr.School, Coimbatore.
										</p>
                                    </div>
                                    <div class="sin-testiText">
                                        <h2>John Dewey</h2>
                                        <p>If we teach today as we taught yesterday, we rob our children of tomorrow.</p>
                                    </div>
                                    <div class="sin-testiText">
                                        <h2>George Couros</h2>
                                        <p>Technology will not replace great teachers. But technology in the hands of great teachers can be transformational.</p>
                                    </div>
                                </div>   
                            </div>
                        </div>
                    </div>
                </div>
                <!--End of Testimonial Area-->
                <!--Event Area Start-->
			<section id="about">			
                <div class="event-area section-padding bg-white">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="section-title-wrapper">
                                    <div class="section-title">
                                        <h3>About</h3>
                                        <p>We are a next-generation education company who would like to reform the way kids learn and make them future ready. We are a passionate team of people who would like to be a stepping stone in your kid's journey who could be a Scientist or an Engineer or a Maker in this world. We would like to spark the curiosity in your kid and make them look at STEM (Science, Technology, Engineering, and Math) with interest. Our system encourages logical thinking, problem-solving and collaborative teamwork with loads of fun.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
			</section>
                <!--End of Event Area-->
                <!--Newsletter Area Start-->
			<section id="contact">				
                <div class="newsletter-area">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-5 col-sm-5">
                                <div class="newsletter-content">
                                    <h3>Contact us </h3>
                                    <h2>hello@stemsmartlabs.com</h2>
                                </div>
                            </div>
                            <div class="col-md-7 col-sm-7">
                                <div class="newsletter-form angle">
                                    <!--<form action="mailto:hello@stemsmartlabs.com" method="post" enctype="text/plain">
                                        <div class="subscribe-form">
                                            <input type="email" name="email" placeholder="Enter your email address...">
                                            <button type="submit">SUBSCRIBE</button>
                                        </div>    
                                    </form>-->
                                    <!-- mailchimp-alerts Start -->
                                    <div class="mailchimp-alerts text-centre fix pull-right">
                                        <div class="mailchimp-submitting"></div><!-- mailchimp-submitting end -->
                                        <div class="mailchimp-success"></div><!-- mailchimp-success end -->
                                        <div class="mailchimp-error"></div><!-- mailchimp-error end -->
                                    </div>
                                    <!-- mailchimp-alerts end -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
			</section>
                <!--End of Newsletter Area-->
                <!--Footer Widget Area Start-->
                <div class="footer-widget-area">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-3 col-sm-4">
                                <div class="single-footer-widget">
                                    <div class="footer-logo">
                                        <a href="index.html"><img src="img/logo/footer.png" alt=""></a>
                                    </div>
                                    <!--<p>There are many variations of passg of Lorem Ipsum available, but thmajority have suffered altem, </p>
                                    <div class="social-icons">
                                        <a href="#"><i class="zmdi zmdi-facebook"></i></a>
                                        <a href="#"><i class="zmdi zmdi-rss"></i></a>
                                        <a href="#"><i class="zmdi zmdi-google-plus"></i></a>
                                        <a href="#"><i class="zmdi zmdi-pinterest"></i></a>
                                        <a href="#"><i class="zmdi zmdi-instagram"></i></a>
                                    </div>-->
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-4">
                                <div class="single-footer-widget">
                                    <h3>GET IN TOUCH</h3>
                                    <span><i class="fa fa-envelope"></i>hello@stemsmartlabs.com</span>
                                    <span><i class="fa fa-globe"></i>www.stemsmartlabs.com</span>
                                </div>
                            </div>
                            <div class="col-md-3 hidden-sm">
                                <div class="single-footer-widget">
                                    <h3>Useful Links</h3>
                                    <ul class="footer-list">
                                        <li><a href="https://allevents.in/org/stem-smart-labs/16879111" target="_blank">Our Courses</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-4">
                                <div class="single-footer-widget">
                                    <h3>Instagram</h3>
                                    <div class="instagram-image">
                                        <div class="footer-img">
                                            <a href="#"><img src="img/footer/1.jpg" alt=""></a>
                                        </div>
                                        <div class="footer-img">
                                            <a href="#"><img src="img/footer/2.jpg" alt=""></a>
                                        </div>
                                        <div class="footer-img">
                                            <a href="#"><img src="img/footer/3.jpg" alt=""></a>
                                        </div>
                                        <div class="footer-img">
                                            <a href="#"><img src="img/footer/4.jpg" alt=""></a>
                                        </div>
                                        <div class="footer-img">
                                            <a href="#"><img src="img/footer/5.jpg" alt=""></a>
                                        </div>
                                        <div class="footer-img">
                                            <a href="#"><img src="img/footer/6.jpg" alt=""></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--End of Footer Widget Area-->
				
                <!--Footer Area Start-->
                <footer class="footer-area">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6 col-sm-7">
                                <span>Copyright &copy; Educat 2017.All right reserved.Created by <a href="#">Educat</a></span>
                            </div>
                            <div class="col-md-6 col-sm-5">
                                <div class="column-right">
                                    <span>Privacy Policy , Terms &amp; Conditions</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </footer>
                <!--End of Footer Area-->
            </div>   
            <!--End of Bg White--> 
        </div>    
        <!--End of Main Wrapper Area--> 
        
        
		<!-- jquery
		============================================ -->		
        <script src="js/vendor/jquery-1.12.4.min.js"></script>
        
		<!-- bootstrap JS
		============================================ -->		
        <script src="js/bootstrap.min.js"></script>
        
        <!-- nivo slider js
		============================================ -->       
		<script src="lib/nivo-slider/js/jquery.nivo.slider.js" type="text/javascript"></script>
		<script src="lib/nivo-slider/home.js" type="text/javascript"></script>
        
		<!-- meanmenu JS
		============================================ -->		
        <script src="js/jquery.meanmenu.js"></script>
		
		<!-- wow JS
		============================================ -->		
        <script src="js/wow.min.js"></script>
        
		<!-- owl.carousel JS
		============================================ -->		
        <script src="js/owl.carousel.min.js"></script>
        
		<!-- scrollUp JS
		============================================ -->		
        <script src="js/jquery.scrollUp.min.js"></script>
        
		<!-- Waypoints JS
		============================================ -->		
        <script src="js/waypoints.min.js"></script>
        
		<!-- Counterup JS
		============================================ -->		
        <script src="js/jquery.counterup.min.js"></script>
        
		<!-- Slick JS
		============================================ -->		
        <script src="js/slick.min.js"></script>
        
		<!-- Animated Headlines JS
		============================================ -->		
        <script src="js/animated-headlines.js"></script>
        
		<!-- Textilate JS
		============================================ -->		
        <script src="js/textilate.js"></script>
        
		<!-- Lettering JS
		============================================ -->		
        <script src="js/lettering.js"></script>
        
		<!-- Video Player JS
		============================================ -->		
        <script src="js/jquery.mb.YTPlayer.js"></script>
        
		<!-- AJax Mail JS
		============================================ -->		
        <script src="js/ajax-mail.js"></script>
        
		<!-- plugins JS
		============================================ -->		
        <script src="js/plugins.js"></script>
        
        
		<!-- main JS
		============================================ -->		
        <script src="js/main.js"></script>
    </body>
</html>